.title{
    flex: 1 1 auto;
    text-align: center;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    -webkit-app-region: drag;
}

.icon-area{
    font-size: var(--font-size);
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    left: 5px;
    top: 0;
    height: 35px;
    -webkit-app-region: drag;
}

.file-count{
    margin-left: 10px;
}

.window-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.minimize,
.maximize,
.close{
    width: 45px;
    height: 100%;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    position: relative;
    -webkit-app-region: no-drag;
    display: flex;
    align-items: center;
    justify-content: center;
}

.maximize{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.minimize:hover,
.maximize:hover{
    background-color: var(--menu-hover-color);;
}

.minbtn,
.maxbtn{
    position: relative;
    width: 7px;
    height: 7px;
    border: 1px solid var(--menu-color);
    pointer-events: none;
    background-color: var(--bar-bg-color);
}

.minbtn::after{
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    top: -3px;
    left: 1px;
    z-index: -1;
    border: 1px solid var(--menu-color);
}

.maximize:hover .minbtn,
.maximize:hover .maxbtn,
.maximize:hover .maxbtn::after{
    background-color: var(--menu-hover-color);
}

.close:hover{
    background-color: var(--close-hover-bgcolor);
    color: var(--close-hover-color);
}

.viewport{
    display:flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.viewport div:not(.selected):focus-visible{
    outline: none;
}

.view{
    user-select: none;
    -webkit-user-select: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 5px;
}

.btns {
    margin: 0px 10px;
    min-width: 165px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10px;
}

.button{
    width: 16px;
    height: 16px;
    padding: 10px;
}

.button.disabled {
    pointer-events: none;
    color: var(--button-disabled);
}

.body{
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    justify-content: start;
    align-items: flex-start;
    overflow: hidden;
}

.left{
    cursor: default;
    position: relative;
    height: 100%;
    min-width: 50px;
    overflow: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

.area-divider{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    width: 10px;
    z-index: 900;
    height: 100%;
    background-color: var(--main-bgcolor);
}

.main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: default;
    z-index: 970;
    position: relative;
}

.col-list-header{
    min-width: 50px;
    background-color: var(--main-bgcolor);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-header {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: var(--main-bgcolor);
    z-index: 950;
    display: flex;
    width: fit-content;
}

.sliding .view div,
.sliding .view input{
    cursor: col-resize;
}

.sliding .main,
.sliding .head{
    pointer-events: none;
}

.sort-indicator{
    width: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}

.divider {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    width: 10px;
    z-index: 900;
    height: 100%;
    background-color: var(--main-bgcolor);
}

.area-divider:hover,
.divider:hover{
    cursor: col-resize;
}

.line {
    width: 1px;
    height: 100%;
    background: var(--divier-bgcolor);
}

.list-header-label{
    display: flex;
    position: relative;
    justify-content: space-between;
    white-space: nowrap;
    line-height: 20px;
    font-family: var(--font);
    font-size: var(--font-size);
    padding: 5px 5px 5px 20px;
}

.clip-area {
    position: absolute;
    background-color: var(--clip-bgcolor);
    opacity: 0.5;
    width: 0px;
    height: 0px;
    transform-origin: top left;
    z-index: 910;
    outline: 1px solid var(--clip-border-color);
    pointer-events: none;
}

.btns .button:hover{
    background-color: var(--button-hover-color);
}

.icon-area .button:hover{
    background-color:var(--menu-hover-color);
}

.row:not(.selected):hover,
.disk:not(.current):hover,
.fav:not(.current):hover,
.col-list-header:hover,
.drag-highlight{
    background-color: var(--main-hover-color);
}

.col-list-header:hover .divider{
    background-color: transparent;
}

.col-list-header:hover .divider .line{
    background: var(--divider-hover-color);
}

.row{
    z-index: 850;
    position: relative;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    outline: 1px solid transparent;
    border-radius: 2px;
    outline-offset: -1px;
    user-select: none;
    -webkit-user-select: none;
}

.thumb-column{
    z-index: 850;
    position: relative;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    outline: 1px solid transparent;
    border-radius: 2px;
    outline-offset: -1px;
    user-select: none;
    -webkit-user-select: none;
}

.col-detail{
    line-height: 20px;
    white-space: nowrap;
    font-family: var(--font);
    font-size: var(--font-size);
    padding: 5px 5px 5px 5px;
    border-radius: 2px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    position: relative;
    z-index: 850;
}

.thumb-col-detail{
    line-height: 20px;
    white-space: nowrap;
    font-family: var(--font);
    font-size: var(--font-size);
    padding: 5px 5px 5px 5px;
    border-radius: 2px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    position: relative;
    z-index: 850;
    width: 100px;
    height: 140px;
}

.draggable {
    max-width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.searched .col-detail,
.searched .input.rename{
    font-size: 14px;
}

.size {
    text-align: right;
}

.entry-name {
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    z-index: 700;
    max-width: fit-content;
}

.thumb-entry-name{
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    z-index: 700;
    max-width: fit-content;
    flex-direction: column;
}

.entry-name svg {
    margin-right: 5px;
}

.thumb-entry-name svg{
    width: 90px;
    height: 90px;
}

.entry-name .icon {
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 700;
}

.thumb-entry-name .icon {
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 700;
    height: 100px;
}

.symlink-icon {
    outline: 1px solid var(--main-border-color);
    width: 7px;
    height: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 1px;
    top: 10px;
    background-color:#fff ;
}

.symlink-arrow {
  position: relative;
  display: inline-block;
  width: 1px;
  height: 5px;
  margin: 0 1.4px;
  border-radius: 9999px;
  background-color: var(--arrow-color);
    transform: rotate(45deg);
}

.symlink-arrow::before,
.symlink-arrow::after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 0.5px);
  width: 1px;
  height: 3px;
  border-radius: 9999px;
  background-color: var(--arrow-color);
  transform-origin: 50% 0.5px;
}

.symlink-arrow::before {
  transform: rotate(45deg);
}

.symlink-arrow::after {
  transform: rotate(-45deg);
}

.folder {
    color: #e59d1a;
}

.hidden-folder {
    color: rgb(229 157 26 / 45%);
}

.entry-name .name {
    pointer-events: none;
    position: relative;
    z-index: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.thumb-entry-name .name {
    pointer-events: none;
    position: relative;
    z-index: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap;
    word-break: break-all;
    -webkit-line-clamp: 2;
    line-clamp:2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    text-align: center;
    max-height: 40px;
    font-size: 12px;
    height: 40px;
    width: 100px;
}

.entry-name .name::highlight(searched),
.thumb-entry-name .name::highlight(searched)  {
    background-color: var(--search-highlight);
}

.cover{
    display: flex;
    height: fit-content;
    width: fit-content;
}

.thumbnail-video{
	position: relative;
    display: block;
    max-width: 88px;
    max-height: 100px;
    user-select: none;
    object-fit: contain;
}

.film {
    position: relative;
    width:6px;
    height: auto;
    user-select: none;
    background: #5e5e5e;
    overflow: hidden;
}

.film::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 1px;
  width: 4px;
  height: 4px;
  background: #fff;
  box-shadow: 0px 9px 0px #fff, 0px 19px 0px #fff, 0px 29px 0px #fff, 0px 39px 0px #fff, 0px 49px 0px #fff, 0px 59px 0px #fff, 0px 69px 0px #fff, 0px 79px 0px #fff, 0px 89px 0px #fff, 0px 99px 0px #fff;
}

.thumbnail-img{
    object-fit: contain;
    width:100%;
    height:100%;
}

.rename-hidden {
    visibility: hidden;
}

.selected{
    background-color: var(--selection-bgcolor);
    outline: 1px solid var(--selection-border-color);
}

.being-selected{
    outline: 1px solid var(--selection-border-color);
}

.current {
    background-color: var(--current-dir-bg-color);
}

.left-content{
    border-bottom: 1px solid var(--main-border-color);
    padding: 20px 0px;
}

.recycle-bin {
    padding: 10px 0px;
}

.fav {
    display: flex;
    flex-direction: row;
    padding: 8px 20px;
    align-items: center;
    justify-content: center;
    justify-content: start;
    font-size: 13px;
    font-family: var(--font);
    cursor: pointer;
    margin-left: 5px;
}

.disk{
    display: flex;
    flex-direction: row;
    padding: 8px 20px;
    align-items: center;
    justify-content: start;
    font-size: 13px;
    font-family: var(--font);
    cursor: pointer;
    margin-left: 5px;
    white-space: nowrap;
}

.fav .icon,
.disk .icon{
    margin-right: 5px;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 700;
}

.fav .name,
.disk .name{
    pointer-events: none;
    position: relative;
    z-index: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.input.rename{
    position: fixed;
    z-index: 9999;
    line-height: 20px;
    white-space: nowrap;
    font-family: var(--font);
    font-size: var(--font-size);
    padding: 0 5px 0 0;
    margin: 0;
}

.input.rename:focus,
.input.newitem:focus{
    outline: none;
}

.input.newitem{
    position: fixed;
    z-index: 9999;
    line-height: 20px;
    white-space: nowrap;
    font-family: var(--font);
    font-size: var(--font-size);
    padding: 0 5px 0 0;
    margin: 0;
}

.cut{
    color: var(--cut-color);
}
