.title{
    flex: 1 1 auto;
    text-align: center;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    -webkit-app-region: drag;
}

.icon-area{
    font-size: var(--font-size);
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    left: 5px;
    top: 0;
    height: 35px;
    -webkit-app-region: drag;
}

.file-count{
    margin-left: 10px;
}

.window-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.minimize,
.maximize,
.close{
    width: 45px;
    height: 100%;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    position: relative;
    -webkit-app-region: no-drag;
    line-height: 35px;
}

.maximize{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.minimize:hover,
.maximize:hover{
    background-color: var(--menu-hover-color);;
}

.minbtn,
.maxbtn{
    position: relative;
    width: 7px;
    height: 7px;
    border: 1px solid var(--menu-color);
    pointer-events: none;
    background-color: var(--bar-bg-color);
}

.minbtn::after{
    content: "";
    width: 7px;
    height: 7px;
    position: absolute;
    top: -3px;
    left: 1px;
    z-index: -1;
    border: 1px solid var(--menu-color);
}

.maximize:hover .minbtn,
.maximize:hover .maxbtn,
.maximize:hover .maxbtn::after{
    background-color: var(--menu-hover-color);
}

.close:hover{
    background-color: var(--close-hover-bgcolor);
    color: var(--close-hover-color);
}

.viewport{
    display:flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.viewport div:not(.selected):focus-visible{
    outline: none;
}

.view{
    user-select: none;
    -webkit-user-select: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 5px;
}

.header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 1px 5px 1px var(--menu-shadow);
    background-color: var(--menu-bgcolor);
    z-index: 980;
    position: relative;
}

.btns {
    margin: 0px 10px;
    min-width: 165px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 10px;
}

.button{
    width: 16px;
    height: 16px;
    padding: 10px;
}

.button.disabled {
    pointer-events: none;
    color: var(--button-disabled);
}

.path-area{
    flex: 1 1 0;
    height: 36px;
    margin: 0px 10px;
    max-width: calc(100% - 380px);
    width: calc(100% - 250px);
    min-width: 100px;
    display: flex;
    overflow: hidden;
    justify-content: end;
    border-radius: 5px;
}

.path-holder{
    flex: 1 1 auto;
}

.path-holder .overflown{
    display: none;
}

.path{
    width: 100%;
    height: 32px;
    border-radius: 5px;
    font-family: var(--font);
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    background-color: var(--path-bgcolor);
    cursor: default;
}

.path .display {
    padding:5px 10px
}

.path svg {
    overflow: visible;
}

.path-data:first-child{
    margin-left: 10px;
}

.path-data{
    padding: 5px 10px;
    margin-right: 5px;
    white-space: nowrap;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.path-data:hover{
    background-color: var(--path-hover-color);
    border-radius: 4px;
}

.hidden-paths {
    position: absolute;
    z-index: 1000;
    background: var(--path-bgcolor);
    outline: 1px solid var(--path-border-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 0 5px 5px 5px;
    box-shadow: 3px 4px 5px var(--path-border-color);
}

.hidden-path-data {
    position: relative;
    padding: 5px 5px;
    width: calc(100% - 10px);
    margin: 5px 0 0 0;
    font-size: 14px;
    white-space: nowrap;
}

.path-dots {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    height: 19px;
}

.path-dots:hover,
.hidden-path-data:hover {
    background-color: var(--path-hover-color);
    border-radius: 4px;
}

.path-edit{
    flex: 1 1 auto;
    height: 100%;
    min-width: 100px;
}

.path-input{
    line-height: 20px;
    white-space: nowrap;
    font-family: var(--font);
    font-size: 14px;
    padding: 0 5px 0 0;
    border-radius: 5px;
}

.header input,
.header input:disabled{
    width: 100%;
    height: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: var(--font);
    border: 2px solid transparent;
    text-indent: 5px;
    font-size: 14px;
    background-color: var(--input-bgcolor);
    border-bottom: 2px solid transparent;
    color: var(--input-color);
}

.header .path-input:focus{
    outline: 1px solid var(--input-focus-outline);
    border-bottom: 2px solid var(--input-bottom-border);
}

.header .search-input:focus{
    outline: none;
}

.search-area{
    height: 36px;
    width: calc(100% - 430px);
    max-width: 250px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
}

.search-area:has(> input:focus) {
    outline: 1px solid var(--input-focus-outline);
    border-bottom: 2px solid var(--input-bottom-border);
    border-radius: 5px;
}

.clear-area {
    width: 45px;
    height: 100%;
    background-color: var(--input-bgcolor);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    align-items: center;
}

.clear {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--input-bgcolor);
}

.clear:hover {
    background-color: var(--input-hover-color);
}

.without-clear{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.body{
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    justify-content: start;
    align-items: flex-start;
    overflow: hidden;
}

.left{
    cursor: default;
    position: relative;
    height: 100%;
    min-width: 50px;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0;
}

.main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: default;
    z-index: 970;
    position: relative;
}

.col-list-header{
    min-width: 50px;
    background-color: var(--main-bgcolor);
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-header {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: var(--main-bgcolor);
    z-index: 950;
    display: flex;
    width: fit-content;
}

.sliding .view div,
.sliding .view input{
    cursor: col-resize;
}

.sliding .main,
.sliding .head{
    pointer-events: none;
}

.sort-indicator{
    width: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
}

.divider {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    width: 10px;
    z-index: 900;
    height: 100%;
    background-color: var(--main-bgcolor);
}

.divider:hover{
    cursor: col-resize;
}

.line {
    width: 1px;
    height: 100%;
    background: var(--divier-bgcolor);
}

.list-header-label{
    display: flex;
    position: relative;
    justify-content: space-between;
    white-space: nowrap;
    line-height: 20px;
    font-family: var(--font);
    font-size: var(--font-size);
    padding: 5px 5px 5px 20px;
}

.clip-area {
    position: absolute;
    background-color: var(--clip-bgcolor);
    opacity: 0.5;
    width: 0px;
    height: 0px;
    transform-origin: top left;
    z-index: 910;
    outline: 1px solid var(--clip-border-color);
    pointer-events: none;
}

.btns .button:hover{
    background-color: var(--button-hover-color);
}

.icon-area .button:hover{
    background-color:var(--menu-hover-color);
}

.row:not(.selected):hover,
.disk:not(.current):hover,
.fav:not(.current):hover,
.col-list-header:hover,
.drag-highlight{
    background-color: var(--main-hover-color);
}

.col-list-header:hover .divider{
    background-color: transparent;
}

.col-list-header:hover .divider .line{
    background: var(--divider-hover-color);
}

.row{
    z-index: 850;
    position: relative;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    outline: 1px solid transparent;
    border-radius: 2px;
    outline-offset: -1px;
    user-select: none;
    -webkit-user-select: none;
}

.col-detail{
    line-height: 20px;
    white-space: nowrap;
    font-family: var(--font);
    font-size: var(--font-size);
    padding: 5px 5px 5px 5px;
    border-radius: 2px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    position: relative;
    z-index: 850;
}

.draggable {
    max-width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.searched .col-detail,
.searched .input.rename{
    font-size: 14px;
}

.size {
    text-align: right;
}

.entry-name {
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    z-index: 700;
    max-width: fit-content;
}

.entry-name svg {
    margin-right: 5px;
}

.entry-name .icon {
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 700;
}

.folder {
    color: #e59d1a;
}

.hidden-folder {
    color: rgb(229 157 26 / 45%);
}

.entry-name .name {
    pointer-events: none;
    position: relative;
    z-index: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.entry-name .name::highlight(searched) {
    background-color: var(--search-highlight);
}

.rename-hidden {
    visibility: hidden;
}

.selected{
    background-color: var(--selection-bgcolor);
    outline: 1px solid var(--selection-border-color);
}

.being-selected{
    outline: 1px solid var(--selection-border-color);
}

.current {
    background-color: var(--current-dir-bg-color);
}

.left-content{
    border-bottom: 1px solid var(--main-border-color);
    padding: 20px 0px;
}

.fav {
    display: flex;
    flex-direction: row;
    padding: 8px 20px;
    align-items: center;
    justify-content: center;
    justify-content: start;
    font-size: 13px;
    font-family: var(--font);
    cursor: pointer;
    margin-left: 5px;
}

.disk{
    display: flex;
    flex-direction: row;
    padding: 8px 20px;
    align-items: center;
    justify-content: start;
    font-size: 13px;
    font-family: var(--font);
    cursor: pointer;
    margin-left: 5px;
    white-space: nowrap;
}

.fav .icon,
.disk .icon{
    margin-right: 5px;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 700;
}

.fav .name,
.disk .name{
    /* display: flex;
    align-items: center;
    pointer-events: none; */
    pointer-events: none;
    position: relative;
    z-index: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.input.rename{
    position: fixed;
    z-index: 9999;
    line-height: 20px;
    white-space: nowrap;
    font-family: var(--font);
    font-size: var(--font-size);
    padding: 0 5px 0 0;
    margin: 0;
}

.input.rename:focus,
.input.newitem:focus{
    outline: none;
}

.input.newitem{
    position: fixed;
    z-index: 9999;
    line-height: 20px;
    white-space: nowrap;
    font-family: var(--font);
    font-size: var(--font-size);
    padding: 0 5px 0 0;
    margin: 0;
}

.cut{
    color: var(--cut-color);
}
