:root{
    --font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Yu Gothic UI";
    --font-size: 12px;
    --arrow-color:#7277dd;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bgcolor: #181818;
        --main-color: #fff;
        --main-hover-color: #383857;
        --main-border-color: #505055;

        --bar-bg-color: #191a31;
        --bar-border-color: #292b41;

        --menu-bgcolor: #212337;
        --menu-color: #eceef3;
        --menu-hover-color: #5b5a67;
        --menu-shadow: #211f1f;

        --close-hover-bgcolor: #da0707c4;
        --close-hover-color: #fff;

        --path-bgcolor: #1f1e1e;
        --path-hover-color: #3f3b3b;
        --path-border-color: #ccc;

        --dialog-bgcolor:#000;
        --dialog-border-color:#ccc;
        --dialog-shadow:#3d3737;

        --divier-bgcolor: #505055;
        --divider-hover-color: #aaaacb;

        --input-bgcolor: #1f1e1e;
        --input-color: #fff;
        --input-focus-outline: #1f1e1e;
        --input-bottom-border: blue;
        --input-hover-color: #433d3d;

        --button-border-color: #504949;
        --button-bgcolor: #fff;
        --button-color: #000;
        --button-disabled: #9f8e8e;
        --button-hover-color:#5b5a67;

        --clip-bgcolor: #e6e6ff;
        --clip-border-color: #000;

        --search-highlight: #af0404;
        --selection-bgcolor: #3b3b51;
        --selection-border-color: #ccc;

        --current-dir-bg-color: #44444f;
        --cut-color: #747d97;
    }
}

@media (prefers-color-scheme: light) {
    :root{
        --main-bgcolor: #fff;
        --main-color: #0e0e0e;
        --main-hover-color:rgb(230 230 255 / 50%);
        --main-border-color:#ccc;

        --bar-bg-color:#d6d4e9;
        --bar-border-color: #c7bfbf99;

        --menu-bgcolor: #eceef3;
        --menu-color: #0e0e0e;
        --menu-hover-color: #d1c1c1;
        --menu-shadow:#ccc;

        --close-hover-bgcolor: #da0707c4;
        --close-hover-color: #fff;

        --path-bgcolor:#fff;
        --path-hover-color:#e1e4ed;
        --path-border-color:#ccc;

        --dialog-bgcolor:#fff;
        --dialog-border-color:#ccc;
        --dialog-shadow:#8f7c7c;

        --divier-bgcolor:#e1e1ef;
        --divider-hover-color:#aaaacb;

        --input-bgcolor: #fff;
        --input-color: #000;
        --input-focus-outline: #ccc;
        --input-bottom-border:blue;
        --input-hover-color:#f5f5f5;

        --button-border-color: #504949;
        --button-bgcolor: #fff;
        --button-color: #000;
        --button-disabled: #9f8e8e;
        --button-hover-color:#e1e4ed;

        --clip-bgcolor:#e6e6ff;
        --clip-border-color:#000;

        --search-highlight:#f2f209;
        --selection-bgcolor:#e6e6ff;
        --selection-border-color:#000;

        --current-dir-bg-color:#e3dede;

        --cut-color:#747d97;

    }
}

html, body, #root{
    width:100%;
    height:100%;
    -webkit-font-smoothing: antialiased;
}

body{
    margin:0;
    font-family: var(--font);
}
