:root{
    --font:"Yu Gothic UI", "Segoe UI";
    --font-size: 12px;
    --arrow-color:#7277dd;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-bgcolor: #181818;
        --main-color: #fff;
        --main-hover-color: #383857;
        --main-border-color: #505055;

        --bar-bg-color: #191a31;
        --bar-border-color: #292b41;

        --menu-bgcolor: #212337;
        --menu-color: #eceef3;
        --menu-hover-color: #5b5a67;
        --menu-shadow: #211f1f;

        --close-hover-bgcolor: #da0707c4;
        --close-hover-color: #fff;

        --path-bgcolor: #1f1e1e;
        --path-hover-color: #3f3b3b;
        --path-border-color: #ccc;

        --divier-bgcolor: #505055;
        --divider-hover-color: #aaaacb;

        --input-bgcolor: #1f1e1e;
        --input-color: #fff;
        --input-focus-outline: #1f1e1e;
        --input-bottom-border: blue;
        --input-hover-color: #433d3d;

        --button-border-color: #504949;
        --button-bgcolor: #fff;
        --button-color: #000;
        --button-disabled: #9f8e8e;
        --button-hover-color:#5b5a67;

        --clip-bgcolor: #e6e6ff;
        --clip-border-color: #000;

        --search-highlight: #af0404;
        --selection-bgcolor: #3b3b51;
        --selection-border-color: #ccc;

        --current-dir-bg-color: #44444f;
        --cut-color: #747d97;
    }
}

@media (prefers-color-scheme: light) {
    :root{
        --main-bgcolor: #fff;
        --main-color: #0e0e0e;
        --main-hover-color:rgb(230 230 255 / 50%);
        --main-border-color:#ccc;

        --bar-bg-color:#d6d4e9;
        --bar-border-color: #c7bfbf99;

        --menu-bgcolor: #eceef3;
        --menu-color: #0e0e0e;
        --menu-hover-color: #d1c1c1;
        --menu-shadow:#ccc;

        --close-hover-bgcolor: #da0707c4;
        --close-hover-color: #fff;

        --path-bgcolor:#fff;
        --path-hover-color:#e1e4ed;
        --path-border-color:#ccc;

        --divier-bgcolor:#e1e1ef;
        --divider-hover-color:#aaaacb;

        --input-bgcolor: #fff;
        --input-color: #000;
        --input-focus-outline: #ccc;
        --input-bottom-border:blue;
        --input-hover-color:#f5f5f5;

        --button-border-color: #504949;
        --button-bgcolor: #fff;
        --button-color: #000;
        --button-disabled: #9f8e8e;
        --button-hover-color:#e1e4ed;

        --clip-bgcolor:#e6e6ff;
        --clip-border-color:#000;

        --search-highlight:#f2f209;
        --selection-bgcolor:#e6e6ff;
        --selection-border-color:#000;

        --current-dir-bg-color:#e3dede;

        --cut-color:#747d97;

    }
}

html, body, #root{
    width:100%;
    height:100%;
    -webkit-font-smoothing: antialiased;
}

body{
    margin:0;
    font-family: var(--font);
}

.viewport{
    background-color: var(--main-bgcolor);
    color:var(--menu-color);
    height:100%;
    width: 100%;
    cursor: default;
    display: flex;
    flex-direction: column;
}

.title-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 35px;
    min-height: 35px;
    width: 100%;
    color: var(--main-color);
    background-color: var(--bar-bg-color);
    border-bottom: 1px solid var(--bar-border-color);
    -webkit-app-region: drag;
    user-select: none;
    -webkit-user-select: none;
}

.close-btn{
    position: absolute;
    top:0;
    width: 45px;
    height: auto;
    text-align: center;
    line-height: 30px;
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region:no-drag;
}
